input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// ==============================================

.btn-primary {
border-radius: 8px;
  background-color: $primary;
  border-color: $primary;
  color: $white;
  &:link{
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &:focus {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &.active {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

}
.btn-outline-secondary{
  border-radius: 8px;
  border-color: $border-dark-gray;
  color: $body-text;
  &:link{
    
    border-color: $border-dark-gray;
    color: $body-text;
  }

  &:hover {
    
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &:focus {
    
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &.active {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
}

.btn-purple {

  background-color: $logo-purple;
  border-color: $logo-purple;
  color: $white;
  &:link{
    background-color: $logo-purple;
    border-color: $logo-purple;
    color: $white;
  }

  &:hover {
    background-color: $logo-purple;
    border-color: $logo-purple;
    color: $white;
  }

  &:focus {
    background-color: $logo-purple;
    border-color: $logo-purple;
    color: $white;
  }

  &.active {
    background-color: $logo-yellow-dark;
    border-color: $logo-yellow-dark;
    color: $black;
  }

}
// ==============================================

.form-control {
  border-color: $border-gray;
  background-color: $white;
  color: $black;
  


  border-width: 1px;

  font-weight: 400;
  padding: 18px 30px;


  &::placeholder {
    color: $text-gray;
  }

  &::-webkit-input-placeholder {
    color: $text-gray;
  }

  &:focus {
    background-color: $white;
    box-shadow: none;
    outline: none;
    border-color: $logo-purple;
  }
}

.form-select {
  border-color: $border-gray;
  background-color: $white;
  color: $black;
  border-radius: 0px;
  min-height: 45px;
  border-width: 1px;

  font-weight: 500;
  font-size: 0.9rem;

  &:focus {
    box-shadow: none;
  }
}

// ====================================================